:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}


body {
  margin: 0 auto;
  display: flex;
  place-items: center;
  width: 750px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
header{
  background-color: #E46460;
  display: flex;
  padding: 0 2em;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
header > img {
  height: 25px;

}
div > .card{
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: 30% 1em 1fr 1fr;
  grid-template-areas: 
    "image margin location location"
    "image margin title title"
    "image margin duration . "
    "image margin description description"
    ;
    height: 170px;
}
#location-img{
  grid-area: image;
  object-fit: cover;
  height: 170px;
  width: 100%;
  border-radius: 1em;
  padding: 0;
  margin: 0;

}
.card > #location-div{
  grid-area: location;
  display: flex;
  align-items: center;
}
#location{
  font-weight: 400;
  font-size: 0.85em;
  line-height: 12px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  padding-right: 0.6em;
}
.card > #location-link{
  grid-area: gMap;
}
.card > #location-div > a{
  font-weight: 400;
  text-decoration-line: underline;
  color: #918E9B;
}
.card > #title{
  grid-area: title;
}
.card  > #duration{
  grid-area: duration;
  font-weight: 700;
  font-size: 0.75rem;
}
.card > #description{
  grid-area: description;

}
#location-icon{
  padding-right: 0.3em;
  height: 1rem;
}

.card > #location-img,
.card > #location-div,
.card > #location-link,
.card > #title,
.card > #duration,
.card > #description{
  text-align: left;
  align-self: center;
}